*{
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    border: 1px solid red;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 10px;
}

.list{
    list-style-type: none;
}

.point{
    position: relative;
    margin-left: -30px;
    padding: 10px;
}
.pointBox{
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid grey;
}

#criteriaList{
    display: flex;
    flex-direction: row; 
}

.pointC{
    margin-left: -20px;
    padding-right: 30px;
}

#placeHolder{
    width: fit-content;
    height: fit-content;
    margin: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.key{
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: blue;
    border: 1px solid black;
}