.header{
    border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
#header-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 0;
  }
  
  .header-top-item {
    width:200px;
    text-align: center;
    padding: 0px 20px;
  }
  
  #header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0% 25%;
  }
  
  #header-nav a {
    padding: 0px 10px;
  }
  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    /* margin: 0% 25%; */
  }
  #info-container{
    width: 120px;
    height: 350px;
    padding: 50px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  