/* table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
   
  }
  #profile-1{
    margin-left: 1px;
  
  }
  #profile-3{
    margin-right: 1px;
  }
  
#chart-table{
  width: 400px;
  height: 120px;
  padding: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  }
.class-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}


  #chart-table.flex-container{
      flex: 5;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
 
  }
  .criteria-holder{
    flex: 0 0 150px;
    /* background-color: yellow; */
    justify-content: center;
  }

  .frequency-holder{
    flex: 0 0 150px;
    /* background-color: violet; */
    justify-content: center;
  }

  .criteria{
    justify-content: right;
    text-align: right;
  }

  .frequency{
    justify-content: left;
    text-align: left;
  }



.container {
  border: 2px solid red;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
   padding: 20px;
  display: inline-block;
  justify-content: space-evenly;
  position: relative;
  left: 40%;
  top: 50%;
  margin-right: 1010px; 
  margin-left: -600px;
  margin-top: 250px;

} 

.header{
    border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.input{
    border: 2px solid;
  border-radius: 5px;
  text-align: center;
  padding: 25px;
}
#header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 0;
}

.header-top-item {
  width:200px;
  text-align: center;
  padding: 0px 20px;
}

#header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0% 25%;
}

#header-nav a {
  padding: 0px 10px;
}
