*{
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
}

/* Header Start */
/* ``` */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#date{
    margin: auto;
}

#title{

}

#time{
    margin: auto;
}
/* ``` */
/* Header End */

/* Nav Start */
/* ``` */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navContainer{

}

#navList{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navLink{
    padding: 0px 20px 0px 20px;
}
/* ``` */
/* Nav End */

/* Criteria & Profile Input Start */
/* ``` */
#criteriaProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#CPSelect{
    margin-right: 20px;
}

#CPInput{
    width: 250px;
}

#submitInput{
    margin-left: 20px;
}
/* ``` */
/* Criteria & Profile Input End */

/* Criteria & Profile Value Input Start */
/* ``` */
#CPValue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
}

#profileSelect{
    margin-right: 20px;
}

#criteriaSelect{
    margin-right: 20px;
}

#valueInput{
    width: 250px;
}

#submitValue{
    margin-left: 20px;
}
/* ``` */
/* Criteria & Profile Value Input End */

/* Criteria & Profile Value Input Table Start*/
/* ``` */
#CPValueTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
}

#CPTable{
    border: 1px solid rgba(150, 212, 212, 0.4);
}

#tableHeader{
    
}

th{
    padding: 10px;
}

#tableRow{

}

td{
    padding: 10px;
}

/* tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
  
th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
} */
/* ``` */
/* Criteria & Profile Value Input Table Start */

/* Criteria & Profile Value Input Graph Start */
/* ``` */
#CPValueGraph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}

#temporary{
    padding: 15px 0px 15px 0px;
}

#graph {
    display: block; 
    position: relative; 
    width: 600px; 
    height: 300px;
    margin: 1.1em 0 0; 
    padding: 0;
    background: transparent;
    font-size: 11px;
}
  
#caption {
    caption-side: top; 
    width: 600px;
    text-transform: uppercase;
    letter-spacing: .5px;
    top: -40px;
    position: relative; 
    z-index: 10;
    font-weight: bold;
}
  
#graph tr, #graph th, #graph td { 
    position: absolute;
    bottom: 0; 
    width: 150px; 
    z-index: 2;
    margin: 0; 
    padding: 0;
    text-align: center;
}

#graph tbody th{
    bottom: -20px;
}

#graph td {
    transition: all .3s ease;

}



#graph thead tr {
    left: 100%; 
    top: 50%; 
    bottom: auto;
    margin: -2.5em 0 0 5em;
}

#graph thead th {
    width: 7.5em; 
    height: auto; 
    padding: 0.5em 1em;
}
  
#graph thead th.sent {
    top: 0; 
    left: 0; 
    line-height: 2;
}

#graph thead th.paid {
    top: 2.75em; 
    line-height: 2;
    left: 0; 
}
  
#graph tbody tr {
    height: 296px;
    margin-top: 2px;
    border-right: 1px dotted #C4C4C4; 
}

#graph #profile1 {
    left: 0;
}

#graph #profile2 {
    left: 150px;
}

#graph #profile3  {
    left: 300px;
}

#graph #q4 {left: 450px; border-right: none;}
  #q-graph tbody th {bottom: -1.75em; vertical-align: top;
  font-weight: normal; color: #333;}
  
#graph .bar {
    width: 60px; 
    border: 1px solid; 
    border-bottom: none; 
    color: #000;
}

#graph .bar p {
    margin: 5px 0 0; 
    padding: 0;
    opacity: .4;
}

#graph .sent{
    left: 13px; 
    background-color: lightblue;
    border-color: transparent;
}

#graph .paid{
    left: 77px; 
    background-color: yellow;
    border-color: transparent;
}
  
  
  #ticks {
    position: relative; 
    top: -300px; 
    left: 2px;
    width: 596px; 
    height: 300px; 
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
  }
  
  #ticks .tick {
    position: relative; 
    border-bottom: 1px dotted #C4C4C4; 
    width: 600px;
  }
  
  #ticks .tick p {
    position: absolute; 
    left: -5em; 
    top: -0.8em; 
    margin: 0 0 0 0.5em;
  }
/* ``` */
/* Criteria & Profile Value Input Graph End */

/* Supporting Documents & Articles Start */
/* ``` */
#supportingDocument{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    margin-left: -40px;
}

#document{
    width: 640px;
    height: 100px;
    border: 1px solid black;
    margin-left: 40px;
}

#article{

}

#articleList{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.articlePoint{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 0px 10px 0px 10px;
}
/* ``` */
/* Supporting Documents & Articles End */